@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Controle de acesso das docas da Estrela da Morte</a>.</p>
    <img src="https://static.wikia.nocookie.net/ptstarwars/images/8/80/Estrela_da_Morte.jpg" alt="Estrela da Morte" />
</div>
